.header {
    grid-area: h;
    background-color: black;
}

.header img {
    width: 300px;
   margin-left: 10%;
}
.loginBlock {
    float: right;
    color:white;
}
.loginBlock a {
      color:white;
}
.loginBlock button{
    background: white;
}